[2022-02-24 21:53] isc-bsaviano commented on #879
Thanks for that. Do you remember the last version this was working with?

[2022-02-24 22:00] isc-jsmith commented on #879
It seemed to work fine with v1.4.1
________________________________
From: Brett Saviano ***@***.***>
Sent: Friday, February 25, 2022 7:54:09 AM
To: intersystems-community/vscode-objectscript ***@***.***>
Cc: Jolyon Smith ***@***.***>; Mention ***@***.***>
Subject: Re: [intersystems-community/vscode-objectscript] Cannot Open Server-side Code Since 1.4.2 (Issue #879)

Thanks for that. Do you remembe

[2022-02-24 22:05] isc-bsaviano commented on #879
I'm surprised because none of this code has changed recently. It appears that the URI's being generated when `serverSideEditing` is `true` are junk so I would expect this problem to have manifested by now.

[2022-02-24 22:33] isc-jsmith commented on #879
I've gone back to 1.4.1 and it seems to be working okay.

[2022-02-24 22:54] a-boertien commented on #879
I'm seeing an error that may be related
I have a multi folder workspace, with 2 folders for server side ObjectScript files & web files

It is no longer connecting to the web files folder in 1.4.2

On the web folder in explorer, I get a warning icon and "Unable to resolve workspace folder" tooltip

The Log (Window) output shows:

I've also switched back to 1.4.1, which is working

[2022-02-24 23:09] isc-bsaviano commented on #879
@gjsjohnmurray Is there anything I'm missing here? I don't see what changed between  1.4.1 and 1.4.2 that could be causing this.

[2022-02-25 09:49] gjsjohnmurray commented on #879
A bisect with the 1.4.2 betas led to this having broken in beta.12 (PR #857 from me). I am investigating.

[2022-02-25 11:35] gjsjohnmurray commented on #879
@isc-jsmith @a-boertien please try the dev vsix from the zip at https://github.com/intersystems-community/vscode-objectscript/suites/5444562033/artifacts/172865984

[2022-02-25 15:21] a-boertien commented on #879
@gjsjohnmurray I tried and it is working (for the error I was seeing)

[2022-02-25 15:32] #879 closed

[2022-02-25 15:34] gjsjohnmurray commented on #879
@a-boertien  thanks for confirming. PR has merged and a new 1.4.3 beta will be available shortly at https://github.com/intersystems-community/vscode-objectscript/releases

We plan to publish 1.4.3 early next week.

[2022-02-25 18:19] #876 closed

[2022-02-25 22:40] isc-jsmith commented on #879
Fixed the issue I was seeing as well.

[2022-03-01 00:17] mvhenderson opened #886 "Unable to save CSP XSL files via docker"
All of my projects that use the `/csp/xslt` application can no longer make changes to the XSL files, instead returning the following error `ERROR #16006: Document 'test.xsl' name is invalid`.   This was working a few weeks ago - did something change recently?

VSCode: Version: 1.64.2
Docker: 20.10.12
ObjectScript extension: v1.4.3
LanguageServer extension: v1.2.9
ServerManager extension: v2.0.7

S

[2022-03-01 14:57] isc-bsaviano commented on #886
@mvhenderson What was the last extension and IRIS version that this worked with? That error is coming from the server

[2022-03-01 16:56] mvhenderson commented on #886
@isc-bsaviano by server I assume you mean language-server? I'll try downgrading to earlier versions and test it out.

[2022-03-01 17:16] mvhenderson commented on #886
Confirmed this was working in 1.4.1 and broken in 1.4.2.

Note: I had to `chmod -R a+rw /usr/irissys/csp/xslt` to fix permissions - I need to research, this might be due to recent lockdown changes to IRIS containers.

[2022-03-01 18:48] isc-bsaviano commented on #886
@mvhenderson Thanks for confirming. Does this happen with any local CSP file or just xsl files?

[2022-03-01 18:59] mvhenderson commented on #886
Any local CSP file.  For example, just tried on v1.4.2 to add a file for a fresh vanilla namespace (no interoperability) and get this error:  `ERROR #16006: Document 'index.js' name is invalid`

[2022-03-01 19:00] isc-bsaviano commented on #886
@mvhenderson I think I know where the regression is, I will look at this now.

[2022-03-01 19:33] isc-bsaviano commented on #886
@mvhenderson Can you download the dev vsix found [here](https://github.com/intersystems-community/vscode-objectscript/suites/5494558862/artifacts/175643835] and let me know if it fixes your issue?

[2022-03-01 22:03] mvhenderson commented on #886
yes that works

[2022-03-01 22:11] #886 closed

[2022-03-02 14:12] isc-bsaviano commented on #494
@mvhenderson Can you download the vsix found [here](https://github.com/intersystems-community/vscode-objectscript/suites/5506601713/artifacts/176297062) and confirm that this is the behavior you were looking for?

[2022-03-02 16:47] CraigRegester commented on #853
Apologies @isc-bsaviano as I'm unclear if this is the same issue but still with UCR so I'm taking a guess at 'Yes'

When using isfs w/ UCR/ODS instances, we see a bunch of these messages in the ObjectScript Output window upon opening VS Code.

[code]

To try and absolve authentication issues (make the problem easier), I even switched the atelier web app to unauthenticated to test with curl, etc. a

[2022-03-02 16:52] isc-bsaviano commented on #853
@CraigRegester I'm not sure what those files are. I assume that the "Bad Request" would mean that the response status was 400, not 404 but that could be a small bug in our error logging.

@gjsjohnmurray Do you know what these files are or where they could be coming from?

[2022-03-02 17:41] gjsjohnmurray commented on #853
I think these requests probably arise from VS Code trying to gather telemetry about the kinds of workspaces it is being used on:

https://github.com/microsoft/vscode/blob/main/src/vs/workbench/contrib/tags/electron-sandbox/workspaceTagsService.ts

@CraigRegester if you set `telemetry.telemetryLevel` to anything other than `all` (the default) do the messages stop?

[2022-03-02 17:46] ltjand opened #891 "cannot debug objectscript code"
Issue Type: <b>Bug</b>

getting error "debugger can not start".  steps:
1. connect to remote server
2. create launch.json/ or click debug this method on the class method (neither work)
3. Utils.cls is the active window
4. run debug from launch settings selection or click debug this method on the class method.
Here's the launch.json:
{    "version": "0.2.0",
    "configurations": [
      {

[2022-03-02 17:46] CraigRegester commented on #853
@gjsjohnmurray I already have "telemetry.telemetryLevel": "off" in my (and all my users, who also see this) settings.json (the one in AppData/Roaming/code/user) so yes.

Doublechecked my workspace file and it doesn't make any changes to this setting either (don't believe it even works there but checked just the same!)

But yes, I see what you mean and think you're on the right path. Hmm can Object

[2022-03-02 17:54] gjsjohnmurray commented on #853
@CraigRegester does setting `"workbench.enableExperiments": false` make any difference?

[2022-03-02 17:56] CraigRegester commented on #853
Unfortunately no:

![image](https://user-images.githubusercontent.com/65192819/156420260-691c3773-7b6a-4984-93c7-bd7e18a67e8d.png)

[2022-03-02 18:11] gjsjohnmurray commented on #853
@isc-bsaviano it seems the /api/atelier/v4/_namespace_/doc/_filename.extension_ endpoint returns a 400 if the extension isn't a known document type, e.g.

`GET http://localhost:57772/api/atelier/v4/USER/doc/pom.xml`

I haven't worked out what about @CraigRegester's config makes VS Code's WorkspaceTagService profile workspaces upon opening, in a way that doesn't happen for me.

Maybe we should hand

[2022-03-02 18:14] isc-bsaviano commented on #853
Why is the `GET /doc` endpoint being called for those files though? That's the real bug IMO.

[2022-03-02 18:16] CraigRegester commented on #853
Here's the extension set I use generally if it helps. But otherwise don't see any other related settings. All are up to date (no pre-releases active). GitLens (GitKraken formerly) recently updated with some new stuff but wouldn't think it'd trigger something like this. All of them however I've used for quite some time and have only recently seen this particular issue - maybe around the time we got

[2022-03-02 18:16] isc-bsaviano commented on #891
@ltjand Does your web server allow for websockets? Usually the "Debugger can not start" error is caused by the inability to upgrade the initial HTTP debugging request to a websocket.

[2022-03-02 18:18] isc-bsaviano commented on #853
@gjsjohnmurray Since this is `isfs`, maybe our `readFile()` method needs to proactively throw `FileNotFound` errors when it's called on files that will never exist in an `isfs` folder.

[2022-03-02 21:35] ltjand commented on #891
I am not sure.  How does one go about finding out?

[2022-03-02 23:18] gjsjohnmurray commented on #853
@isc-bsaviano I don't think it's wise to hardcode the isfs FSP to treat specific filenames and/or file-extensions in particular ways. Sites might be leveraging %Studio.AbstractDocument to implement other document types, for example.

@CraigRegester I'm interested that you only started getting these messages recently. If you use `Install Another Version...` from the extension's gearwheel menu in Ex

[2022-03-02 23:29] CraigRegester commented on #853
Certainly will give it a shot but sitting and thinking about it - the other thing is the switch to isfs. For awhile, I was the only 'engineer' using VSC with UCR for a variety of reasons. With others joining the fray, it made sense to normalize to using ISFS for all since it matches what we do in our I4H environment/workspaces.

So very quickly I can see in my old non-ISFS based workspace, none of

[2022-03-02 23:43] isc-bsaviano commented on #853
Good point John, I forgot about custom Studio documents

[2022-03-03 00:37] gjsjohnmurray commented on #853
@CraigRegester VS Code's workspace-probing mechanism (pom.xml, build.gradle etc) will only result in /api/atelier calls to your UCR server (via your web server) if the workspace uses isfs. So I'm not surprised you didn't see it before you started using isfs.

I see you're using the REST Client extension. If you use that to submit one of the requests reporting as returning a non-JSON response, what

[2022-03-03 00:57] CraigRegester commented on #853
I get the same as you it seems:

[code]

What does that tell us exactly? (genuinely curious!)

[2022-03-03 01:16] gjsjohnmurray commented on #853
Yours is different from mine. Mine has JSON after the headers, and yours has a single line of text stating "Bad Request".

https://docs.microsoft.com/en-us/iis/troubleshoot/diagnosing-http-errors/how-to-use-http-detailed-errors-in-iis has info about how by default IIS sends custom error pages. We need detailed errors.

[2022-03-03 01:58] CraigRegester commented on #853
Ah apologies, multitasking this late at night. Of course, I know how to turn on the detailed errors. Will do!

[2022-03-03 02:00] CraigRegester commented on #853
[code]

Ok now they're the same :) Or at least both show the same JSON

[2022-03-03 06:36] gjsjohnmurray commented on #853
Has that stopped the  `Non-JSON Response` messages?

[2022-03-03 13:24] CraigRegester commented on #853
@gjsjohnmurray It did - duh on my part, sorry, 13 hr day yesterday and that was at the end and just didn't make the connection! But makes sense.

I don't see a note in the docs however that says to ensure detailed errors are turned on for VS Code ObjectScript at the web gateway (but will double check) and if I had the world, I would prefer these requests don't even get made if they're being trigge

[2022-03-03 13:32] isc-bsaviano commented on #853
@CraigRegester I opened a PR that will stop the `Non-JSON response` errors from being automatically logged to the Output channel. They will be handled the same as any other error that occurs during a REST request.

@gjsjohnmurray Is there anything we can do on our end to stop that probing? It adds unnecessary stress on the server and pollutes the Wireshark log whenever I need to debug something `i

[2022-03-03 13:50] gjsjohnmurray commented on #853
@CraigRegester I don't think it's documented anywhere. Something new I learned yesterday when trying to work out why I wasn't seeing what you were seeing.

@isc-bsaviano do you still see isfs requests for these special files even when you reduce `telemetry.telemetryLevel` to a setting less than `all` (the default)?

[2022-03-03 13:56] isc-bsaviano commented on #853
@gjsjohnmurray I have telemetry level set to `crash` and I'm stilll seeing the pom.xml and build.gradle requests, as well as a huge number of calls to `doc//_vscode/USER/xx.json`. I only have 2 `isfs` folders in my workspace but there are many iof these requests. I'm not using the folder level settings feature.

[2022-03-03 13:58] #853 closed

[2022-03-03 14:21] CraigRegester commented on #853
ty both - much appreciated. @gjsjohnmurray  Reminder though - my telemetry levels were set to off and was still seeing these requests.

Understood re: documentation - definitely something to add in the isfs area if it can't be addressed otherwise.

[2022-03-03 15:06] gjsjohnmurray commented on #853
@isc-bsaviano I'm puzzled about why I don't seem to get those pom.xml or build.gradle requests when working with my isfs workspaces. I should probably re-check.

Have you done the setup described in https://intersystems-community.github.io/vscode-objectscript/serverside/#configuring-storage-for-folder-specific-settings ?

If not, maybe add it and see if it changes the number of calls to `doc//_vsc

[2022-03-03 15:54] isc-bsaviano commented on #853
No, I didn't do that setup because I don't intend to use folder-specific settings. I do have some settings in my code-workspace file. I assume that those REST requests are caused by VS Code (probably when one of our extensions checks a setting value) so they can't be turned off, but it would be nice if we had a `objectscript.serverSideFolderSettings` setting that defaults to `false` so we don't ha

[2022-03-03 16:11] #846 closed

[2022-03-03 16:13] #820 closed

[2022-03-03 16:13] isc-bsaviano commented on #845
@ebromberg Are you still experiencing this issue?

[2022-03-03 16:27] tomb54 commented on #830
@isc-bsaviano all good now, thanks for your response.

[2022-03-03 16:28] #830 closed

[2022-03-03 18:55] #845 closed

[2022-03-03 20:24] ltjand commented on #891
yes, we are using https. I checked the iis server, and it doesn't show we have websocket turned on.  Do we need to turn this on?  Is that all we need to do, and any concerns with leaving it on?

[2022-03-03 20:50] isc-bsaviano commented on #891
@ltjand If you want to use our debugger then you need to allow websocket connections. Leaving it on won't affect anything else with our extensions and debugging is the only feature that requires websockets.

[2022-03-03 23:09] isc-bsaviano opened #893 "node-fetch `response.buffer()` is deprecated"
When running the extension in debug mode, this message is written to the debug console:

[code]

[2022-03-11 15:56] #893 closed

[2022-03-11 18:25] #494 closed

[2022-03-14 16:18] gjsjohnmurray opened #898 "User-level `server` setting in `objectscript.conn` should not trump a workspace-level `docker-compose` setting"
To reproduce the issue, have a workspace-level `objectscript.conn` setting whose `docker-compose` points to a container:

[code]

Confirm that the connection is active.

In the user-level settings add an `objectscript.conn` that points to a server defined in `intersystems.servers`:

[code]

When you save this, the extension incorrectly tries to connect to the named server in preference to the targ

[2022-03-16 14:11] #898 closed

[2022-03-21 02:24] buxinshou opened #901 "request to http://serverIP:57772/api/atelier/ failed"
When opening vscode for the first time, there is a high probability that the connection to the server will fail. But clicking on the link returns a value.
Open VScode `Settings` -> save (do not change Settings)- > sometimes you can connect to the server successfully. Or open and close `vscode` several times can also connect to the server successfully.

"objectscript.conn": {
    "server": "localli

[2022-03-21 03:42] buxinshou commented on #777
`web app` path : localws\src\imedical\web\csp
![image](https://user-images.githubusercontent.com/31057024/159202431-0ed06aa8-2a54-434f-8496-10c2ff0d155b.png)

[2022-03-21 11:42] gjsjohnmurray commented on #901
Have you installed the Server Manager extension? If so, have you used it to store the password for username _system?

Or are you being prompted for the password each time you open your VS Code workspace?

[2022-03-21 12:33] isc-bsaviano commented on #777
@buxinshou Please try this again with the latest version (`1.4.4` or `1.4.5-beta.1`). It contains a bug fix in this area

[2022-03-22 05:41] buxinshou commented on #777
I tried 1.4.4 and 1.4.5 and still reported CSP does not exist when saving
![{SQ_084WYYHX4}UTS0(P36Y](https://user-images.githubusercontent.com/31057024/159415376-12dbb1ed-03d5-40df-92ad-2c765f15df3a.png)
---
---
![UU9R8M%)E@TYC_EUGR4T~OM](https://user-images.githubusercontent.com/31057024/159415446-a2c0391d-adfe-4841-a773-ec50071892fb.png)

[2022-03-22 05:54] buxinshou commented on #901
I installed `InterSystems Server Manager v2.0.7` through the `InterSystems Server Manager Pack, and used it to store the password with the username `_ system`.Every time I open the vscode workspace, I am not prompted for a password.

![image](https://user-images.githubusercontent.com/31057024/159416820-39b0fae7-b67d-4630-b000-05f49030f7c1.png)

[2022-03-22 05:55] buxinshou commented on #901
I installed `InterSystems Server Manager v2.0.7` through the `InterSystems Server Manager Pack`, and used it to store the password with the username `_ system`.Every time I open the vscode workspace, I am not prompted for a password.

![image](https://user-images.githubusercontent.com/31057024/159416820-39b0fae7-b67d-4630-b000-05f49030f7c1.png)

[2022-03-22 12:06] isc-bsaviano commented on #777
@buxinshou Is `/csp/ct.ipmr.bt.config.csp` the correct file path? If not, can I see your `objectscript.export` settings if you exported the file using the extension?

[2022-03-23 10:08] buxinshou commented on #777
When saving `csp`, an error of `error #5912:page /csp/xx.csp does not exist` will be reported.
---
The `/csp/ct.ipmr.bt.config.csp` path should be correct.
The steps I take to export 'csp' are shown below.
![`6Z_PT1O9BXW6MP@{G` P_7](https://user-images.githubusercontent.com/31057024/159673452-65645e7d-4201-457f-b6d1-95733ed7d68a.png)
---
Local file structure after export:
![P%PU)83T_LX`GD)MRRY3~1M

[2022-03-23 12:13] isc-bsaviano commented on #777
@buxinshou Thanks for the extra info. I think this is a bug in the code that maps local files to their server path. I will add this  to my to-do list.

[2022-03-24 07:50] kolaval commented on #876
The setting has been added but it folds all ranges.
It needs to only fold the first range i.e Methods and ClassMethods to allow quicker class navigation

[2022-03-24 12:22] isc-bsaviano commented on #876
@kolaval Please try [this VSIX](https://github.com/intersystems-community/vscode-objectscript/suites/5784395951/artifacts/192907615) and let me know if this still isn't what you'd expect.

[2022-03-25 00:14] isc-lindensc opened #906 "preview XML as UDF not working"
Issue Type: <b>Bug</b>

Hi, i tried a complete new install no extensions no config for vscode. Just enabled interysystems extension pack and proposed api. I then drag a xml to the vscode window, right click and select preview as UDL but nothing happens.

Extension version: 1.4.5-beta.1
VS Code version: Code 1.65.2 (c722ca6c7eed3d7987c0d5c3df5c45f6b15e77d1, 2022-03-10T14:33:55.248Z)
OS version: Win

[2022-03-28 12:20] isc-bsaviano commented on #906
I was able to reproduce this on Windows but not Mac.

[2022-03-29 07:12] kolaval commented on #876
Yes this is great!
The methods are folded but not the code inside

[2022-03-29 12:10] isc-bsaviano commented on #876
Yes, that is by design. If you open a method to edit it, look away, and then focus back on the original class, your work shouldn't be folded back up.

[2022-03-29 12:19] isc-bsaviano commented on #906
@isc-lindensc Is the database for the namespace that you're in writable? The issue could be that that the temporary import that's done to convert the file could be failing due to the file being read-only.

[2022-03-30 04:06] isc-lindensc commented on #906
Hi @isc-bsaviano, i just tried again with a namespace that is writable and has no sourcecontrol. no luck.

[2022-03-30 12:07] isc-bsaviano commented on #906
@isc-lindensc Can you download and install [this vsix](https://github.com/intersystems-community/vscode-objectscript/suites/5860370243/artifacts/197485607) and let me know what error gets reported when you try to do the conversion?

[2022-03-30 15:55] isc-bsaviano commented on #783
@AndreaSchecker Do you still see this issue with Language Server version 2.0.0?

[2022-03-30 16:03] isc-lindensc commented on #906
Hi Brett,

I tried a different file but same issue:

<?xml version="1.0" encoding="UTF-8"?>
<Export generator="IRIS" version="26">
<Class name="zUser.Puppet">

Best Regards

Timo

From: Brett Saviano ***@***.***>
Sent: Thursday, 31 March 2022 1:31 AM
To: intersystems-community/vscode-objectscript ***@***.***>
Cc: Timo Lindenschmid ***@***.***>; Mention ***@***.***>
Subject: Re: [intersystems-commu

[2022-03-30 23:10] isc-lindensc commented on #906
Hi Brett,
Yes. Tried opening from code, via drag and drop or from perforce, Then right-click Preview XML as UDL. But it does nothing.

Best Regards
Timo

From: Brett Saviano ***@***.***>
Sent: Thursday, 31 March 2022 1:43 AM
To: intersystems-community/vscode-objectscript ***@***.***>
Cc: Timo Lindenschmid ***@***.***>; Mention ***@***.***>
Subject: Re: [intersystems-community/vscode-objectscript]

[2022-03-31 00:09] CH-HaroldShort opened #909 "Some Configuration Settings for Export Not Working"
I am able to control the export folder using this setting (the default folder is "src" which I did not want):
[code]
That works as expected.

However, these settings seem to have no effect:
[code]
When I right click on a folder in Objectscript Explorer and select Export, like this on a folder with just `*.cls` files
<img width="303" alt="image" src="https://user-images.githubusercontent.com/336483

[2022-03-31 17:56] CH-HaroldShort commented on #909
@isc-bsaviano Thanks, I had not realized that. As you suggested, toggling "Show Generated Items" in explorer stops the extra folders and INT files from being exported.
<img width="167" alt="image" src="https://user-images.githubusercontent.com/33648346/161119243-2fabc9c9-0de5-4f23-8ab1-67f0062bf6d4.png">

However, it sounds like there is another way to do an export that would respect the configure

[2022-03-31 18:09] isc-bsaviano commented on #909
@CH-HaroldShort Those settings control the behavior of the `vscode-objectscript.export` command, which you can invoke by opening the command palette (cmd/ctrl-shift-p) and typing in `Export Code from Server`

[2022-03-31 18:57] spetersisc opened #911 "ObjectScript Icon not displaying"
When using the code-server container-based VS Code, the ObjectScript Explorer icon doesn't display in versions above 1.1.1 (up to 1.4.4). That makes it difficult to use for server side editing

[2022-03-31 19:26] isc-bsaviano commented on #911
@spetersisc The ObjectScript Explorer is only useful for client-side editing. If you're editing server-side then you can already see the server's contents in your `isfs(-readonly)` workspace folders. You can show the ObjectScript Explorer anyways by changing the `objectscript.showExplorer` setting back to its default value of `true`.

[2022-03-31 19:40] CH-HaroldShort commented on #909
@isc-bsaviano Thank you again! That export from the command palette is working for me.

[2022-03-31 19:40] #909 closed

[2022-03-31 20:40] DodgeDeBoulet opened #912 "Odd Indenting Behavior in 1.4.4"
While writing a method (for an SQL table export task, not that this is particularly significant) I'm seeing VS Code indent a subsequent line on \<Enter\> as though I was starting a code block.

Example:
[code]
If I move the cursor to the end of the lines indicated by the **// \<Enter\>** comments, the next line is indented by 3 spaces in addition to the expected indent. If I don't type anything on

[2022-03-31 21:00] isc-bsaviano commented on #912
@DodgeDeBoulet I don't think this behavior is caused by our extension but I noticed that when I copied your sample code into an empty method I noticed the lines did not have uniform indenting and that they mixed between spaces and tabs. Here's a screenshot of what I'm seeing, with the code highlighted so you can see the whitespace characters:

<img width="496" alt="Screen Shot 2022-03-31 at 4 59 4

[2022-03-31 21:04] DodgeDeBoulet commented on #912
@isc-bsaviano Hmm. Not sure how those spaces got in there, but when I deleted them, indenting returned to normal. Guess it's not a bug!

[2022-03-31 21:04] #912 closed

[2022-03-31 21:09] CH-HaroldShort opened #913 "Export Filter Enhancement"
I am using the `"objectscript.export.filter"` setting in my settings.json
[code]
This works similar to the filter in the export UI, but is rather limited. I would like to limit the export to just the names that start with `CH.` using a filter value of `CH.%.cls`, but per the documentation there is an implicit wildcard before and after the filter criteria:

This results in hundreds of matches for u

[2022-04-01 12:37] isc-bsaviano commented on #913
@gjsjohnmurray How do you feel about this? The change would be backwards-incompatible but i think it's a reasonable request.

[2022-04-01 13:00] gjsjohnmurray commented on #913
@isc-bsaviano how about adding a new `objectscript.export.exactFilter` setting which would take priority over `objectscript.export.filter`?

Another idea for achieving back-compatibility would be to say that a `objectscript.export.filter` string which begins with `^` would drop that character and would not add a `%` prefix to the value used in LIKE. Similarly a `$` suffix would indicate that no tr

[2022-04-04 08:56] dgonzalez-intersystems opened #915 "Open class by name doesn't work on Server-Side editing"
Hi,
For some time now, when working in Server-Side Editing, the option to open class by name (Ctrl+T for Windows or Command+T for MAC) doesn't work. It finds properties or methods within the classes that match the searched pattern, but not the classes with that name.
<img width="833" alt="image" src="https://user-images.githubusercontent.com/78598637/161509596-78a82605-412f-40ad-a65d-e007183e32ba.

[2022-04-04 09:03] dgonzalez-intersystems opened #916 ""Show CCR Control" has stopped working"
Hi,
After the last update, the option "Show CCR Controls" has stopped working. It redirects to Source Control Menu.
<img width="626" alt="image" src="https://user-images.githubusercontent.com/78598637/161510770-df823c63-d801-4b26-a2c0-3fdd63f10392.png">

When clicking on "ItemSet Bundle", it redirects to log in page, but, after introducing user and password, log in page is shown again (no error me

[2022-04-04 10:06] gjsjohnmurray commented on #915
Have you followed the README steps to enable proposed APIs? If this used to work for you, perhaps you previously di the config steps, downloaded the beta VSIX and installed it, but subsequently updated the extension to a newer non-beta version. In that case, download the -beta.1.vsix file whose version number is bigger than your current VSIX upgraded from Marketplace.

[2022-04-04 10:43] dgonzalez-intersystems commented on #915
Hi John,
Thanks for your fast reply!
Yes, I followed these README steps. I have the last VSIX beta version (v1.4.5-beta.7), and I enabled proposed APIs as explained. In fact, the option to search in all files (what also needs this config to work) is working properly.

Here's my Output, my argv.json file and a screenshot showing how the "search in all files" option is working.
<img width="810" alt=

[2022-04-04 11:42] gjsjohnmurray commented on #915
Do you find the classes if you use Ctrl+P or Cmd+P instead? Or alternatively delete the # prefix in the Ctrl/Cmd+T field before you type the class name?

[2022-04-04 12:18] dgonzalez-intersystems commented on #915
With Command+P I only find those classes which are open in the editor right now or I've opened recently. But those classes that I've never opened or I haven't opened for some time are not found.

[2022-04-04 12:47] dgonzalez-intersystems commented on #915
Hi again John,
Enabling the "Search > Quick Open: Include Symbols" option I can find the classes if I use Cmd+P
<img width="1207" alt="image" src="https://user-images.githubusercontent.com/78598637/161546139-eb2734b0-9fac-454d-a29f-f3fd95e182b9.png">

It's not the same behaviour, because routines are not found either, but at least I find the classes.

[2022-04-04 13:24] isc-bsaviano commented on #916
@dgonzalez-intersystems What's the expected behavior in this case?

@gjsjohnmurray Wasn't there an issue in the past related to authentication using the VS Code simple browser? I can't find an issue link for it though

[2022-04-04 13:37] dgonzalez-intersystems commented on #916
Hi Bret,
The problem is that when you introduce your username and password you're not logged in, and this same page appears again. You should be redirected to this page (this is an example of one of our clients)
![image](https://user-images.githubusercontent.com/78598637/161555487-7b82545c-e159-4496-8162-900f157c59fd.png)

I don't usually use this feature. It's been reported to me by one of our cl

[2022-04-04 13:40] isc-bsaviano commented on #916
@dgonzalez-intersystems Are those two clients using the same IRIS version and VS Code version? Also, what version of this extension is the client using that reports this feature working? I can look at all commits since that version to see what the cause may be but I don't remember anything in this area changing recently.

[2022-04-04 13:41] isc-bsaviano commented on #913
@CH-HaroldShort Please download the vsix found [here](https://github.com/intersystems-community/vscode-objectscript/suites/5922777542/artifacts/202416812) and let me know if the exactFilter setting works for you.

[2022-04-04 13:48] isc-bsaviano commented on #915
@dgonzalez-intersystems Yes, Ctrl-P (quick open) works for all files. Ctrl-T  is for looking up a specific symbol in a file (right now just class members). In the past, Ctrl-T did show classes as well (but not any other type of file). When I overhauled the `WorkspaceSymbolProvider` (which provides data for Ctrl-T) in #772, I removed the classes because they were already covered by Ctrl-P. We can c

[2022-04-04 14:00] isc-bsaviano commented on #915
@dgonzalez-intersystems FWIW I can see routines that begin with % just fine using Ctrl-P:

![Screen Shot 2022-04-04 at 9 59 06 AM](https://user-images.githubusercontent.com/44776135/161560417-42532740-bb4b-4251-9d5f-25cd4d34e041.png)

[2022-04-04 14:13] isc-bsaviano commented on #915
Happy I could help!

[2022-04-04 14:13] #915 closed

[2022-04-04 14:59] dgonzalez-intersystems commented on #916
Hi Brett,
I understood one of them didn't update VS Code version... But he did it too. Firstly, he tested it with the version he had, and it worked. Then, he updated the VS Code version and now it doesn't work for him either. That's why he told me that with the previous version he had it worked. He's trying to find out which version he had before (if possible). I'll let you know when he tells me s

[2022-04-04 18:04] isc-bsaviano commented on #891
@ltjand Did debugging work for you after you enabled WebSockets in your web server?

[2022-04-04 18:08] #409 closed

[2022-04-04 18:09] isc-bsaviano commented on #103
This is covered adequately by the setting reference doc page IMO.

[2022-04-04 18:09] #103 closed

[2022-04-04 18:11] isc-bsaviano commented on #312
@gjsjohnmurray Do you think that this still needs to be documented? AFAIK this isn't covered anywhere and the issue hasn't come up again

[2022-04-04 18:54] isc-bsaviano commented on #636
@isc-rsingh @gjsjohnmurray I think we should remove everything from the README besides a short installation blurb with a link to the documentation and maybe the proposed API section, regardless of whether it gets included in the main docs. Does that sound reasonable?

[2022-04-04 18:57] isc-rsingh commented on #636
Yes it does

[2022-04-04 18:58] isc-rsingh commented on #312
I agree if it hasn't come up in 1 1/2 years it doesn't need to be documented.

[2022-04-04 18:58] isc-bsaviano commented on #636
@isc-rsingh Ok, I'm going to put together a PR soon that will resolve the outstanding documentation issues

[2022-04-04 18:59] #312 closed

[2022-04-04 19:06] #777 closed

[2022-04-04 19:08] isc-bsaviano commented on #79
John's link has been included in the docs since #758

[2022-04-04 19:08] #79 closed

[2022-04-04 19:08] gjsjohnmurray commented on #312
OK. At least it's documented here.

[2022-04-04 19:09] gjsjohnmurray commented on #636
I agree

[2022-04-04 19:13] #913 closed

[2022-04-04 19:19] CH-HaroldShort commented on #913
@isc-bsaviano I downloaded it and ran another export using the new setting. It works great, thank you!

[2022-04-04 20:37] ltjand commented on #891
I wasn’t able to try it out, because there are concerns about setting this on from the team since they aren’t familiar with this setting and if there would be any adverse effect.

Thanks for following up.

Lena

From: Brett Saviano ***@***.***>
Sent: Monday, April 4, 2022 11:05 AM
To: intersystems-community/vscode-objectscript ***@***.***>
Cc: Lena Tjandra ***@***.***>; Mention ***@***.***>
Subjec

[2022-04-04 20:40] isc-bsaviano commented on #891
@ltjand Ok, I'm going to close this issue and if you're experiencing issues after allowing WebSockets please follow up here and I will reopen it.

[2022-04-04 20:40] #891 closed

[2022-04-04 20:41] ltjand commented on #891
Ok, thanks.

From: Brett Saviano ***@***.***>
Sent: Monday, April 4, 2022 1:40 PM
To: intersystems-community/vscode-objectscript ***@***.***>
Cc: Lena Tjandra ***@***.***>; Mention ***@***.***>
Subject: Re: [intersystems-community/vscode-objectscript] cannot debug objectscript code (Issue #891)

WARNING: This email originated outside of SCAN [United States].
DO NOT provide your username, password,

[2022-04-05 08:06] dgonzalez-intersystems commented on #916
@isc-bsaviano The client updated the version of the **InterSystems Language Server extension**, not the version of the InterSystems ObjectScript extension. I didn't understand him when he told me the problem, sorry. I guess this extension is a different project, isn't it?
In case it could help, the version of the InterSystems Language Server extension he currently has is **v2.0.1**.

Thanks!

[2022-04-05 12:15] isc-bsaviano commented on #916
@dgonzalez-intersystems The Language Server update won;t affect anything related to source control or authentication for the built-in browser so unfortunately that's not our culprit.

[2022-04-05 14:16] isc-bsaviano commented on #783
Closing this issue because it's for an outdated version of the Language Server

[2022-04-05 14:16] #783 closed

[2022-04-06 10:31] dgonzalez-intersystems commented on #916
@isc-bsaviano Ok! He tells me he didn't update anything else... As I said, I don't use this option, so I can't assure it worked previously, but I trust him 😅  I keep on investigating and I'll tell you something as soon as I have more info.
Thanks for your help!

[2022-04-11 11:20] MartinJakubowski opened #924 "modified header when storing on local disc"
Exporting a routine or a class to a local folder, modifies the header of the file.

We have 2 maschines with the the same software level. Only one maschine has this problem since the last week.

The routine header is modified like this:

'''
ROUTINE Cache-APO.src.FiveRxTest [ type = mac]
'''

Normaly the exported Header looks like this:
'''
ROUTINE FiveRxTest
'''
***Cache-APO*** is the name of the

[2022-04-11 12:24] isc-bsaviano commented on #924
@MartinJakubowski That header is used by the Atelier API and this extension to identify a routine. It should NOT be modified. You also shouldn't change the name of a class in it's definition unless you want to change the class's name on the server. The server doesn't know or care about the folder structure that you use to modify the files on the client so I'm not sure why you're trying to put that

[2022-04-11 12:28] isc-bsaviano commented on #809
@isc-kiyer This will be fixed in VS Code 1.67

[2022-04-11 12:28] #809 closed

[2022-04-11 13:37] MartinJakubowski commented on #924
Thank you for your reply. Right, it should not be modified and I know this. I changed the titel and the text to have more clear.

The "modifikation" happens when saving the routing/class to the local disc. It's not in the database.

[2022-04-11 13:39] isc-bsaviano commented on #924
@MartinJakubowski Can you please provide exact steps to reproduce this issue?

[2022-04-11 13:52] MartinJakubowski commented on #924
@isc-bsaviano After compile -> Finde Routine in Workspace -> Right-Click -> Download...

[2022-04-11 14:02] isc-bsaviano commented on #924
The download menu option is not provided by our extensions so I'm not sure how to works exactly. However, I just did a few tests using it with a workspace folder configured for server-side editing and the downloaded files looks good to me.

[2022-04-11 15:37] isc-bsaviano commented on #924
If you're editing files on the server then there's no need to save them locally. The server can be configured to handle your source control. The extension supports a client-side workflow as well where you export files and handle the source control yourself. For more information on the server-side editing feature that you're currently using, see [this documentation page](https://intersystems-commun

[2022-04-12 14:43] MartinJakubowski commented on #924
I know, but for some reasons we decided to use sourcecontrol outside from Caché. Here we have an mixed environment that will need to support both server- and client-side editing to fit all needs.

Anyway, if I work with your suggested way the header of the exported files are correct. I tested both ways exports Command Menü and Server-Explorer.  The export will stored in a wrong folder, so it will

[2022-04-12 14:51] isc-bsaviano commented on #924
@MartinJakubowski You should be able to open your local folder that's hooked up to source control and edit classes and routines and have them be automatically synced with the server if you have a server connection enabled. Once the file exists in your file system you shouldn't have to keep exporting it if you just edit that file. As for the download menu option, I don't see any reason why it would

[2022-04-12 16:37] samalaut opened #926 "OpenVMS and Cache 2017.2"
Has anyone tried to use VSC/ObjectScript plug-in with an OpenVMS and Cache 2017.2 system?  If so, is there anything special as far as setting up the connection?

Thanks!!

[2022-04-12 17:33] isc-bsaviano commented on #926
@samalaut All of the extensions in the [InterSystems Extension Pack](https://marketplace.visualstudio.com/items?itemName=intersystems-community.objectscript-pack) support Cache 2017.2. You can have VS Code with our extensions installed on another machine and you can set up a connection to your VMS Cache as long as the machines are on the same network.

[2022-04-13 06:35] MartinJakubowski commented on #924
I appreciate your time an efford for helping and understandig this problem.

Its also not understandble for me, why the download option is working differntly to the other options. I'm with you. New to me was the fact that this feature will not interact with the extension.

I will see this as an oppertunity to overwork my lokal setup inkl. my workflows. I know that VSCode syncs the edited local fil

[2022-04-13 06:35] #924 closed

[2022-04-13 13:11] samalaut commented on #926
Thanks for the Response!!  I misstated the version, we have version 2017.1.3 (last version for OpenVMS).   Should the extension pack work for this version?

[2022-04-13 13:14] isc-bsaviano commented on #926
Yes, that version is supported. Some features will not be available because that version only contains the the first version of the server-side Atelier API (latest kits are up to v5) but the core features such as editing, saving and deleting documents and debugging will work fine.

[2022-04-13 13:49] samalaut commented on #926
That's what I thought.     But our Infrastructure team is having issues with connectivity to that version.   Is there anything "special" what would need to be done for OpenVMS and Cache 2017.1.3?

Again, thanks for you help, it is much appreciated!!

[2022-04-13 13:51] isc-bsaviano commented on #926
Nope, not that I can think of. VS Code will need to be installed on another machine though because AFAIK it doesn't support VMS. I suggest you try pinging your server from the command line/terminal of the machine that VS Code is installed on to make sure that it's actually reachable.

[2022-04-13 15:16] GendronAC opened #929 "Have the "currently selected text" help documentation like F1 did in Studio"
Pressing F1 while selecting a command / word to get the documentation in the browser is a nice feature in IRIS Studio that I'm missing in VSCode. Is there already an equivalent that I'm missing?

If not, I suggest creating a macro like this (don't know if it's possible in the way those links are generated)

[code]

![image](https://user-images.githubusercontent.com/45271725/163211934-3a33aff6-8381

[2022-04-13 16:12] GendronAC commented on #929
Nice ! Thank you and sorry for the trouble !

[2022-04-13 16:12] #929 closed

[2022-04-13 17:14] #851 closed

[2022-04-14 20:55] CraigRegester opened #930 "Schemas with periods in name exported poorly"
Similar to an issue I worked through with the [git-source-control team](https://github.com/intersystems/git-source-control/issues/92), the ObjectScript Extension, when exporting from the server, is treating dots ins a proper 'file' name - e.g., MySchema_2.3.1.hl7 - as a folder path.

So what I end up with is src\oth\MySchema_2\3\1.hl7   - not at all desirable or even accurate representation of wha

[2022-04-15 13:06] isc-bsaviano commented on #930
@CraigRegester @gjsjohnmurray
I think we should consider leaving the dots for all file extensions that aren't "owned" by InterSystems (i.e. cls, mac, int, inc, bpl, dtl, dfi). Since this would be backwards-incompatible change we shouldn't rush to do it but that would avoid this issue for all file types that may be added by users in the future. It also avoids more settings bloat and adding responsi

[2022-04-15 13:08] CraigRegester commented on #930
Concur, though not sure how fast that can happen vs a setting inside the existing export section so we can continue to move forward quickly with our source control roll out!

[2022-04-15 15:32] isc-tleavitt opened #931 "Support "mapped" flag for StudioOpenDialog in isfs filters and export"
Use case:
I want to connect to an interoperability-enabled namespace using isfs, and to export everything from it to my local filesystem. I *don't* want InterSystems' code to be included - e.g., the CSPX, Ens*, HS*, and SchemaMap packages. The defining characteristic of these is that they are mapped from non-default routine DBs for the namespace.

Fortunately, %Library.RoutineMgr:StudioOpenDialog

[2022-04-18 15:27] #931 closed

[2022-04-19 13:20] mdavidovichHst opened #933 "New files pre-pend incorrect package name"
When creating a new file client side incorrect prefixes are pre-pended to the package/class name.  For example, adding a new file under the folder cls->PKG creates the class cls.PKG.NewClass when we want it to create PKG.NewClass.  The current solution is just to delete the “cls.” prefix before compile.

[2022-04-19 13:31] isc-bsaviano commented on #933
@mdavidovichHst This is probably due to a mismatch between your export settings and the structure of your folders. The extension uses the `objectscript.export.folder` and `objectscript.export.addCategory` settings to determine which subfolders are part of the package name and which ones are part of your workspace organization.

[2022-04-19 13:45] #933 closed, assigned to nobody

[2022-04-19 13:46] mdavidovichHst commented on #933
@isc-bsaviano Thanks this was correct!  I spoke to @timleavitt about this and he thought it might be a bug.  Tim were you thinking it was a bug for a different plugin?

[2022-04-19 13:47] isc-tleavitt commented on #933
@mdavidovichHst nope, it was just a gap in understanding - I just didn't realize that the "export" settings also applied in this way for new files.

[2022-04-19 13:50] mdavidovichHst commented on #933
@timleavitt Awesome!  Probably the easiest fix we'll have all day!

[2022-04-19 13:58] isc-bsaviano commented on #926
@samalaut I'm closing this issue since there's nothing for me to fix. If you're still running into trouble let me know and I will re-open it.

[2022-04-19 13:58] #926 closed

[2022-04-19 16:09] samalaut commented on #926
Thanks Brett!   Will do

On Tue, Apr 19, 2022 at 9:58 AM Brett Saviano ***@***.***>
wrote:

[2022-04-20 14:05] isc-bsaviano commented on #34
We have no plans to add support for XML editing/importing/exporting

[2022-04-20 14:07] #376 closed

[2022-04-20 14:07] #377 closed

[2022-04-20 14:11] #90 closed

[2022-04-20 14:15] isc-bsaviano commented on #346
@timleavitt Is there anything that needs to be changed in this extension to fix this issue? Or has this already been addressed somewhere else?

[2022-04-20 14:16] #352 closed

[2022-04-20 14:17] isc-bsaviano commented on #417
@gjsjohnmurray Is there anything we need to do here or can this be closed?

[2022-04-20 14:18] isc-tleavitt commented on #346
@isc-bsaviano it's a matter of changing extension/addin/template code as @gjsjohnmurray said earlier. (VSCode web views have different constraints than Studio's embdded IE, so it can't just work the same way.)

Another option would be to update <csp:StudioGenerateTemplate> upstream to have behavior dependent on user agent.

[2022-04-20 14:27] isc-bsaviano commented on #346
@isc-tleavitt Ok, I'm going to close this then since there's nothing for us to change

[2022-04-20 14:27] #346 closed

[2022-04-20 14:56] isc-bsaviano commented on #417
@gjsjohnmurray Here's what I did and the behavior that I saw:

1. Have a server definition with a username stored in plain text but no password anywhere.
2. When prompted for a password, enter it but don't save it in the keychain.
3. Disable the server connection by setting `active` to `false` in `objectscript.conn`.
4. Restart VS Code.
5. Note that you are prompted for a password again (I assume

[2022-04-20 15:07] gjsjohnmurray commented on #417
@isc-bsaviano I wonder how the extension behaves on its own (i.e. no Server Manager involvement).

[2022-04-20 17:08] isc-bsaviano commented on #146
I agree with John

[2022-04-20 17:08] #146 closed

[2022-04-20 18:50] gjsjohnmurray commented on #417
Sounds like this can be closed then.

[2022-04-20 18:51] #417 closed

[2022-04-20 19:11] isc-bsaviano commented on #803
@tsfu The upcoming version 1.8.0 includes #923, which allows you to rename `isfs` files. The ROUTINE header or Class name will be automatically updated for you, but do note that no other code in the document will be changed.

[2022-04-20 19:18] tsfu commented on #803
Thanks for the update. It would be great to try it out.

[2022-04-20 21:15] isc-bsaviano commented on #568
We added a paragraph at the bottom of our [debug documentation page](https://intersystems-community.github.io/vscode-objectscript/rundebug/#starting-a-debugging-session) that says how the server connection is resolved.

@gjsjohnmurray Do you think there's any reason to allow a server and/or namespace to be specified in the launch config that would override the current behavior? The tradeoff is tha

[2022-04-21 19:21] isc-bsaviano commented on #901
@buxinshou Ar you still experiencing this issue? If so, could you turn on [HTTP Trace](https://cedocs.intersystems.com/ens20162/csp/docbook/DocBook.UI.Page.cls?KEY=GCGI_oper_config#GCGI_viewtrace) for your Cache instance before you start up VS Code then paste the trace result here after you start VS Code and observe the error?

[2022-04-21 19:57] isc-bsaviano commented on #687
@gjsjohnmurray I verified that this is still a bug. Would a possible solution be to use the VS Code simple browser instead of an iframe in a Webview?

[2022-04-22 12:00] gjsjohnmurray commented on #687
@isc-bsaviano if you use this button in Server manager to launch Portal in Simple Browser, can you paste?

![image](https://user-images.githubusercontent.com/6726799/164710273-7d28be63-dace-44af-aedc-90f7da022d82.png)

[2022-04-22 12:08] isc-bsaviano commented on #687
@gjsjohnmurray The simple browser isn't working for me at all. It takes forever to load, then when I see the SMP login page I can't paste into either input box and clicking "login" has no effect. I am using a new IRIS so it's possible that there's some server-side setting that I need to change that I'm forgetting.

[2022-04-22 13:13] mvhenderson opened #938 "New class should ignore objectscript.export.folder"
Recently upgraded to v1.6 of the extension and now when I create new class files the source folder path is pre-pended to the class name. I would expect the extension to ignore the `objectscript.export.folder` path from the classname generator:

<img width="420" alt="image" src="https://user-images.githubusercontent.com/669176/164721221-f9984707-b2e7-4675-9466-10a6507696ea.png">

[2022-04-22 13:32] isc-bsaviano commented on #688
Fixed internally by DP-413625

[2022-04-22 13:32] #688 closed

[2022-04-22 13:33] isc-bsaviano commented on #702
Closing this because it's an issue with ISC's internal source control class

[2022-04-22 13:33] #702 closed

[2022-04-22 14:00] isc-bsaviano commented on #687
@gjsjohnmurray I still can't copy-paste into a simple browser.

[2022-04-22 14:00] #938 closed, assigned to isc-bsaviano

[2022-04-22 14:14] isc-bsaviano commented on #916
@gjsjohnmurray Is it possible that this is caused by the same cookie issue as with the simple browser?

[2022-04-22 17:21] gjsjohnmurray commented on #916
I guess it's possible.

[2022-04-22 18:33] isc-bsaviano commented on #916
@dgonzalez-intersystems Can you follow the steps [here](https://github.com/intersystems-community/intersystems-servermanager#notes-about-simple-browser) for the web app that you're trying to access and see if that helps?

[2022-04-25 11:41] dgonzalez-intersystems commented on #916
@isc-bsaviano I'm afraid this has not solved the problem. I keep getting redirected to the login page (even after entering my credentials).

[2022-04-25 21:05] isc-bsaviano commented on #102
Closing because this doesn't appear to be possible using the [current VS Code API](https://code.visualstudio.com/api/references/vscode-api)

[2022-04-25 21:05] #102 closed

[2022-05-02 16:28] pjsulin opened #940 "Downloading files"
According to this post, https://github.com/intersystems-community/vscode-objectscript/issues/854, the Download feature on the context menu is not part of the object script vscode extension.

Can that please be verified?

I'm asking because because when I use this feature on an entire package it works fine. However, when I use with a single file it modifies the package in the file, which seems to b

[2022-05-02 16:54] isc-bsaviano commented on #940
The "Download..." menu option is provided by VS Code for any file/folder that is provided by a non-default `FileSystemProvider` (i.e. the file doesn't exist in your local file system). I'm not sure why it changes the package name but since we don't explicitly support this feature and provide multiple alternatives for exporting files to your local file system (in addition to the Cache/IRIS methods

[2022-05-04 13:16] pjsulin commented on #940
Thanks for confirming. This can be closed.

[2022-05-04 13:19] #940 closed

[2022-05-05 21:59] jbukowsky opened #941 "Error getting host port number for connection to docker-compose with multiple services"
Issue Type: <b>Bug</b>

Line 448 in /src/utils/index.ts should be "!stdout.replaceAll("\r", "").split("\n").includes(service)" instead of "!stdout.replace("\r", "").split("\n").includes(service)". I have resolved the issue for myself by updating the minified dist/extension.js file.

To reproduce error:
1. Use docker-compose to create container with multiple services
2. Try to connect ObjectScript

[2022-05-06 14:32] #941 closed

[2022-05-10 14:19] isc-kiyer commented on #809
@isc-bsaviano I still see this issue with vs code 1.67. Version info:
Version: 1.67.0 (Universal)
Commit: 57fd6d0195bb9b9d1b49f6da5db789060795de47
Date: 2022-05-04T12:14:47.100Z
Electron: 17.4.1
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Darwin x64 20.6.0

[2022-05-10 14:23] isc-bsaviano commented on #809
@isc-kiyer Can you comment on the VS Code issue with a screen cap of the bug still existing?

[2022-05-13 10:22] Taulim opened #943 "Is it possible to show Back-end (csp/cls/mac) and Front-end (files in csp) at the same time when using server-side editing?"
Hello.

I remember this being a limitation on the start of the project that we could not have CSP files and Server files in the same isfs protocol.
As such I have to have two "folders" on my workspace, one for CSPs and one for the other files:

![image](https://user-images.githubusercontent.com/7851440/168262491-5285416b-45eb-4311-be97-e598e0a8a3fb.png)

![image](https://user-images.githubusercont

[2022-05-13 12:14] isc-bsaviano commented on #943
@Taulim Right now the only way to do that is to use a project and add both CSP and non-CSP files to it. I'm going to leave this issue open so the other maintainers can comment but IMO the work required to make this possible likely outweighs the benefits so this probably won't get prioritized.

cc @gjsjohnmurray

[2022-05-13 12:52] S-Hahne opened #944 "Server-side editing: Cannot select project"
Dear InterSystems community,

I have found the new option to open a namespace's project in VS Code rather than the complete namespace.
When I tried this with my local IRIS instance and an %All user, I am presented the list of projects but when I try this with our locked-down dev server (where I mainly have %Developer rights), the prompt disappears after
![grafik](https://user-images.githubusercont

[2022-05-13 16:26] isc-bsaviano commented on #944
@S-Hahne Everything you need is in the `Notes` section at the bottom of the [`Working with Projects` documentation page](https://intersystems-community.github.io/vscode-objectscript/projects/#notes).

[2022-05-16 06:31] S-Hahne commented on #944
Thanks for the information. That works!

[2022-05-16 06:31] #944 closed

[2022-05-18 16:27] mfortuna-isc opened #946 "Extension does not recognize references to class parameters escaped with quotes"
In ObjectScript, you can define a class parameter with non-alphanumeric characters so long as you escape its name in double quotes.
You can then reference the parameter using the syntax `..#"<parameter-name>"`
For example
[code]

However, neither Studio nor the VSCode extension recognizes this syntax, even though such code compiles and executes as expected.

The regonizer for these IDEs should be

[2022-05-18 16:53] isc-bsaviano commented on #946
@mfortuna-isc This appears to be a parser bug specially with quoted parameters. I will create a JIRA for this.

[2022-05-18 16:53] #946 closed

[2022-05-20 21:02] jbukowsky opened #947 "Feature Request: Ability to choose docker-compose version"
It would be nice to have a configuration option that lets the user customize the docker-compose command being used.

I would like to see configurable settings similar to what the docker extension provides, or perhaps even reusing those configurations if possible. (https://code.visualstudio.com/docs/containers/reference#_command-customization)

I'm having an issue with the extension's use of the do

[2022-05-23 19:13] isc-bsaviano commented on #930
@CraigRegester Can you please test the dev vsix for my linked PR (found [here](https://github.com/intersystems-community/vscode-objectscript/suites/6625704567/artifacts/249685135)) and let me know if it fixes your issue?

[2022-05-23 19:20] CraigRegester commented on #930
Certainly, just a moment

[2022-05-23 19:25] CraigRegester commented on #930
@isc-bsaviano I tried numerous and all worked successfully!

export "ATLAS_2.5.1.HL7" as "**redacted full path**\src\oth\ATLAS_2.5.1.HL7"
export "Out_EpBkr_Rslt_2.5.1.HL7" as "**redacted full path**\src\oth\Out_EpBkr_Rslt_2.5.1.HL7" - Success
Exported items: 1
export "2.7.HL7" as "**redacted full path**\src\oth\2.7.HL7" - Success
Exported items: 1

[2022-05-23 19:26] isc-bsaviano commented on #930
Great! If you edit them, do they get saved on the server successfully?

[2022-05-23 19:39] isc-bsaviano commented on #930
I'm glad the import is working as well. Yes, you can tell vscode to treat a certain file extension as another language: https://stackoverflow.com/questions/29973619/how-to-make-vs-code-treat-a-file-extensions-as-a-certain-language

[2022-06-21 10:31] tomb54 opened #951 "NET IDEs"
Hi, I've  tried the following simple exercise

https://docs.intersystems.com/irislatest/csp/docbook/DocBook.UI.Page.cls?KEY=AB_idesetup#AB_idesetup_info

Basically connecting your local IRIS to Visual Studio, but it doesn’t work.

Any pointers much appreciated.

**Exercise Instructions**

To connect Visual Studio to InterSystems IRIS, use the following steps. (Log into GitHub if necessary.)

First

[2022-06-21 12:25] #951 closed

[2022-07-04 07:00] isc-lindensc opened #952 "export to UNC file share fails"
Hi,

i got an issue with exporting source.
I am running Win10 and my local user folers like documents are windows redirected to a fileserver by it admins.
If i try to export to local src as usual using default config i get an error:
Custom.Test.cls - Error: EEXIST: file already exists, mkdir '\\server.local\users\'
export "Custom.Test.cls" as "\\server.local\users\timol\Documents\vscode_workspace\

[2022-07-05 14:17] RyszardWithAZ opened #953 "Autosave is driving me nuts"
Hello,

This just started happening a few days ago with a new version of VSCode Insiders (I don't remember exactly which one though!). I'm currently running this version:

Version: 1.69.0-insider (user setup)
Commit: 2932e29645f12f08235b7560b3f7d763b8a1cf25
Date: 2022-07-04T10:51:04.591Z
Electron: 18.3.5
Chromium: 100.0.4896.160
Node.js: 16.13.2
V8: 10.0.139.17-electron.0
OS: Windows_NT x64 10.0.1

[2022-07-05 16:48] pjsulin commented on #576
While I agree in theory that using .cls files is a better idea than xml, I don't believe they are equivilant. The ability to import without overwriting tune table is not supported by class import but is with xml import. We have to use custom scripts for cleaning tune table information out of class files, otherwise diff'ing files does not really work because they will always have slightly different

[2022-07-06 12:29] isc-bsaviano commented on #576
@pjsulin Unfortunately there's nothing we can do about that. If users require XML for source control then they can use server-side source control to export as XML while still editing as UDL. Existing source control classes that do this will continue to work. Users can also export as XML using the management portal or terminal if they need to create a file for deployment.

[2022-07-06 15:09] pjsulin commented on #576
Fully agree, limitiation is with import for classes compared to xml, not the vscode extension. Comment strictly meant for documentation purposes.

[2022-07-08 13:17] pjsulin commented on #940
I am looking to automate this download process. Is there code in this repo where I can see how that is done through atelier API?

[2022-07-08 15:07] isc-bsaviano commented on #940
@pjsulin If you want to export a bunch of files with one click, you can use the Export Code From Server command, which uses the objectscript.export [configuration settings](https://intersystems-community.github.io/vscode-objectscript/settings/#vscode-objectscript) to determine what to export. The implementation is found here:
https://github.com/intersystems-community/vscode-objectscript/blob/14ded

[2022-07-22 14:15] isc-bsaviano opened #957 "Incorrect tag+offset^routine display in status bar"
We very nicely display the label+offset^routine in the VS Code bottom status bar, so that you find a specified line in the source.  However, we get this wrong with tags inside procedure block.  Tags inside a procedure block should not be picked up as a label for the label+offset display as they are not valid labels.

*Reported internally*

[2022-07-22 17:34] LogMull opened #958 "Debugger 'Attach' using isfs"
Our development team relies heavily on editing files with isfs, so I have only observed this when using isfs.  When trying to use the debugger to attach to a process, I am unable to get the list of processes to populate.  This appears to be because the handler for the 'vscode-objectscript.pickProcess' command creates a new AtlierAPI with no arguments.  Inside the APIs constructor, this causes the

[2022-07-22 18:24] isc-bsaviano commented on #958
@LogMull Thanks for the detailed issue description. I will fix this before our next release

[2022-07-25 13:07] #958 closed

[2022-08-02 20:12] isc-bsaviano opened #965 "Uncaught errors in `onDidChangeTextEditorSelection()` handler"
*Extracted from https://github.com/intersystems/language-server/issues/241#issuecomment-1203167076*

[2022-08-08 11:18] gjsjohnmurray commented on #916
@dgonzalez-intersystems does the webapp definition have a "Prevent login CSRF attack" checkbox? If so, and if it is currently checked, please uncheck it, save the change and try again.

[2022-08-08 11:21] gjsjohnmurray commented on #803
@tsfu version 1.8 has been out for a while so I am closing this. Please reopen with more information if you need to.

[2022-08-08 11:21] #803 closed

[2022-08-08 12:15] #965 closed

[2022-08-08 13:22] gjsjohnmurray commented on #625
Workaround is to wait until no CI run is in progress, then rerun all jobs in the failed CI run, even the successful ones.

[2022-08-08 13:35] jonlent opened #969 "Calculated fields do not show in debugger"
### Isuue
When viewing an object variable that has calculated fields, like the X12Document below, the calculated fields show as what appears to be uninitialized memory content. If the value is evaluated in the debug window, it will show the correct content:

### Example
![image](https://user-images.githubusercontent.com/920117/183429998-10fe14e6-a595-4438-a10d-b440dd65fa20.png)
![image](https://us

[2022-08-08 19:28] isc-bsaviano commented on #969
@jonlent This is caused by the code on the server that gets the object properties. The values for the calculated properties aren't being calculated but that isn't being shown to the user in a friendly way. I think this should be handled in the same manner as MultiDimensional properties, where the property name is still shown, but there is no value displayed:

![Screen Shot 2022-08-08 at 3 27 16 PM

[2022-08-09 14:17] isc-bsaviano commented on #969
@jonlent This will be fixed in IRIS 2022.3

[2022-08-10 19:37] isc-bsaviano commented on #943
@gjsjohnmurray I think this can be closed as wontfix. The main reason you'd want to do this (editing a front end served by CSP and the server-side REST API) is a great candidate for a server side project because you're likely only editing a single class package and single web application.

[2022-08-10 19:39] isc-bsaviano commented on #901
@buxinshou I'm going to close this issue since it's getting stale. Please comment and re-open it if you are still experiencing it.

[2022-08-10 19:39] #901 closed

[2022-08-10 19:42] isc-bsaviano commented on #854
@gjsjohnmurray @DodgeDeBoulet I think this issue can be closed now that package deletion is implemented.

[2022-08-10 19:59] DodgeDeBoulet commented on #854
I'm happy with the way it works. Closing!

[2022-08-10 19:59] #854 closed

[2022-08-10 20:05] isc-bsaviano commented on #952
@isc-lindensc Is that export path correct?

[2022-08-11 20:03] #625 closed

[2022-08-16 23:50] isc-lindensc commented on #952
@isc-bsaviano this is the path as reported by vscode i just have removed the identifiable information.

I think the issue is when user folders are redirected via the use of MS group policies from the local disc to a remote server.

If i take the reported path and paste it into windows file explorer it opens the folder correctly.

[2022-08-18 06:59] evshvarov opened #974 "Add "Run Method in Terminal" feature"
There is a handy "Debug this method" feature above every class method.
Could we also add "Run Method in Terminal" or similar to copy the line suitable to execute classmethod in Terminal?

E.g. if the method is "
Class Foo {
classmethod Bar () As %Status {
}

The function will copy the following:
w ##class(Foo).Bar()

[2022-08-18 12:14] isc-bsaviano commented on #952
@isc-lindensc If the path that the extension generated is correct then the issue is probably in your environment.

[2022-08-18 13:14] SylvainGuilbaud opened #975 "Unable to debug Python methods : breakpoint are not taken into account"
ie :
ClassMethod augmentationPython(sal1 As %Double, sal2 As %Double) As %String [ Language = python ]
{
pct = ""
if sal1 > 0 :
pct = str(round(((sal2 * 100 / sal1) - 100) , 2)) + "%"
return pct
}

with launch.json :
{
"version": "0.2.0",
"configurations": [
{
"type": "objectscript",
"request": "launch",
"name": "augmentation Python",
"program": "##class(common.functions).augmentationPython(1,2)"

[2022-08-18 13:23] SylvainGuilbaud commented on #975
ie :
ClassMethod augmentationPython(sal1 As %Double, sal2 As %Double) As %String [ Language = python ]
{
       pct = ""
       if sal1 > 0 :
              pct = str(round(((sal2 * 100 / sal1) - 100) , 2)) + "%"
       return pct
}

with launch.json :
{
    "version": "0.2.0",
    "configurations": [
        {
            "type": "objectscript",
            "request": "launch",
            "name":

[2022-08-18 13:53] isc-bsaviano commented on #974
@evshvarov I don't think this is worth doing. If a user sees "Run this method", they will expect the method to actually be run when they click the button, not have something copied to the clipboard. If you want to run a method and see any console output, you can just click "Debug this method" without any breakpoints and see the output in the Debug Console

[2022-08-18 14:22] isc-bsaviano commented on #975
@SylvainGuilbaud The IRIS debugger does not support debugging python so there's nothing we can do to fix this

[2022-08-18 14:22] #975 closed

[2022-08-18 14:46] SylvainGuilbaud commented on #975
Never mind ; thanks Brett

[2022-08-19 06:33] isc-lindensc commented on #952
Hi Brett,

The issue is with the plugin VSCode can access all files even on that path perfectly. Only the export fails when trying to create/access the remote path.

Best Regards

Timo

From: Brett Saviano ***@***.***>
Sent: Thursday, 18 August 2022 9:44 PM
To: intersystems-community/vscode-objectscript ***@***.***>
Cc: Timo Lindenschmid ***@***.***>; Mention ***@***.***>
Subject: Re: [intersystem

[2022-08-19 12:01] isc-bsaviano commented on #952
Maybe it's an issue with our use of node's `fs`. I will replace it with calls to vscode's `workspace.fs` to see if that helps.

[2022-08-19 13:16] isc-bsaviano commented on #952
@isc-lindensc Can you install the dev vsix found [here](https://github.com/intersystems-community/vscode-objectscript/suites/7890107842/artifacts/335234868) and let me know if this works for you

[2022-08-21 23:55] isc-lindensc commented on #952
Hi Bred,

Looks like this s working now. Just got following error on export but file has been created.
***@***.***

Cheers
Timo

From: Brett Saviano ***@***.***>
Sent: Friday, 19 August 2022 10:47 PM
To: intersystems-community/vscode-objectscript ***@***.***>
Cc: Timo Lindenschmid ***@***.***>; Mention ***@***.***>
Subject: Re: [intersystems-community/vscode-objectscript] export to UNC file share

[2022-08-22 12:12] #952 closed

[2022-08-23 14:18] isc-bsaviano commented on #974
@gjsjohnmurray @daimor Do either of you have a strong opinion about this request?

[2022-08-24 20:10] gmanii commented on #926
Hi @isc-bsaviano  and @benn,

For the above scenario , I've pinged the VMS cache server in command line/terminal at specified machine where VS Code is installed  and yes I got the response.
Further what next to be done to connect VSCode with VMS cache ?

[2022-08-24 20:15] isc-bsaviano commented on #926
@gmanii You can follow the configuration steps outlined in [our documentation](https://intersystems-community.github.io/vscode-objectscript/configuration/). The steps are the same regardless of the OS that Cache is installed on or the OS that VS Code is running on. If you don't have VS Code installed already, you should start with our [installation instructions.](https://intersystems-community.git

[2022-08-29 14:06] daimor commented on #974
There are many reasons, why I would like to have this feature. When actively working on some projects, it's faster to run it in terminal, but unfortunately the syntax for the command is so stupid, so, I have to print `do ##class` copy classname from the top of the class, past it in terminal, then copy classmethod and past it again, too many actions. Debugger is too slow, and may not work as I need

[2022-08-29 14:25] isc-bsaviano commented on #974
Calling this feature "run this method" is confusing. It doesn't actually run anything. A user is going to click this, see that nothing happened, and report a bug or become frustrated.

[2022-08-29 14:28] daimor commented on #974
Offer another name, which will be quite short

[2022-08-29 14:37] daimor commented on #974
`Pass Invocation Command to Terminal` ?

[2022-08-29 14:38] daimor commented on #974
No clipboard, actually at this moment, just inserts to active terminal

[2022-08-29 14:40] isc-jamien commented on #974
No, it doesn’t do that, it doesn’t pass anything to the terminal.  I’ll support ‘copy invocation to clipboard’ because that is what it does.

From: Dmitry Maslennikov ***@***.***>
Reply-To: intersystems-community/vscode-objectscript ***@***.***>
Date: Monday, August 29, 2022 at 10:37 AM
To: intersystems-community/vscode-objectscript ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [intersyste

[2022-08-29 14:40] isc-jamien commented on #974
Inserting directly into the terminal is too dangerous, what with people clicking around, anything could happen.

From: Dmitry Maslennikov ***@***.***>
Reply-To: intersystems-community/vscode-objectscript ***@***.***>
Date: Monday, August 29, 2022 at 10:38 AM
To: intersystems-community/vscode-objectscript ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [intersystems-community/vscode-objectscr

[2022-08-29 14:43] evshvarov commented on #974
It’s a developer environment- what dangerous could be there?

Let’s name it “Run in a terminal” ?

On Mon, 29 Aug 2022 at 18:40, isc-jamien ***@***.***> wrote:

[2022-08-29 14:44] isc-jamien commented on #974
What are you talking about, VSCode can be connected to any instance in any namespace. Respectfully I don’t think you are thinking this through. I won’t approve it as it stands.

From: Evgeny Shvarov ***@***.***>
Reply-To: intersystems-community/vscode-objectscript ***@***.***>
Date: Monday, August 29, 2022 at 10:43 AM
To: intersystems-community/vscode-objectscript ***@***.***>
Cc: Jamie Newton ***

[2022-08-29 14:46] isc-bsaviano commented on #974
Why would it insert the text into the active terminal? There's no guarantee that it's an IRIS terminal. What if the terminal is a separate window, like on windows? Or not in vscode's integrated terminal? In those cases copying to the clipboard is preferable and the user has to actually paste it somewhere so they can't run anything by accidentally pressing enter after the copy is done.

[2022-08-29 14:47] evshvarov commented on #974
Anyway I’d prefer to have “Copy to clipboard” somewhere too or instead if
possible

On Mon, 29 Aug 2022 at 18:43, Евгений Шваров ***@***.***>
wrote:

[2022-08-29 15:08] daimor commented on #974
Changed to clipboard

[2022-08-29 15:14] daimor commented on #974
https://github.com/intersystems-community/vscode-objectscript/blob/3c76b3c86824bd99a2ff9f9dfc109cbbb9a9c47b/src/providers/ObjectScriptCodeLensProvider.ts#L110

[2022-08-29 15:25] isc-solon commented on #974
Does anyone prefer this: "Copy ObjectScript invocation to clipboard"

And if [language = python]: "Copy Python invocation to clipboard"

…and the proper invocation is copied in each case?

On Aug 29, 2022, at 11:14 AM, Dmitry Maslennikov ***@***.******@***.***>> wrote:

https://github.com/intersystems-community/vscode-objectscript/blob/3c76b3c86824bd99a2ff9f9dfc109cbbb9a9c47b/src/providers/ObjectS

[2022-08-29 15:27] daimor commented on #974
Different behavior for python makes no sense, since the call exactly the same

[2022-08-29 15:28] isc-jamien commented on #974
It also should take into account if the method returns a value

From: Joel Solon ***@***.***>
Reply-To: intersystems-community/vscode-objectscript ***@***.***>
Date: Monday, August 29, 2022 at 11:26 AM
To: intersystems-community/vscode-objectscript ***@***.***>
Cc: Jamie Newton ***@***.***>, Comment ***@***.***>
Subject: Re: [intersystems-community/vscode-objectscript] Add "Run Method in Terminal"

[2022-08-29 15:31] daimor commented on #974
No difference at all

[2022-08-29 15:33] isc-solon commented on #974
Python invocation would work in Python shell (iris.cls)
ObjectScript invocation would work in ObjectScript shell (##class)

On Aug 29, 2022, at 11:27 AM, Dmitry Maslennikov ***@***.******@***.***>> wrote:

Different behavior for python makes no sense, since the call exactly the same

—
Reply to this email directly, view it on GitHub<https://github.com/intersystems-community/vscode-objectscript/iss

[2022-08-29 15:37] daimor commented on #974
Nope, language = python does not change it
In python shell, supposed to work any method in any language

[2022-08-29 19:55] isc-rsingh commented on #974
How about simply `Copy invocation`? I think the "to clipboard" part is what people expect a copy command to do, unless some other behavior is specified.

[2022-09-07 10:31] evshvarov commented on #974
Good day! What about a feature? Already want to use it!

[2022-09-07 10:34] evshvarov commented on #974
Like it. Or Copy this method - pair to Debug this method

[2022-09-08 11:13] daimor commented on #974
Download archive with VSIX file, extract and install manually in VSCode with dedicated command
https://github.com/intersystems-community/vscode-objectscript/suites/8192958499/artifacts/356594965

[2022-09-14 11:13] eduard93 opened #981 "Attaching to Interoperability job fails"
I have picked up some process ids from the production. The process and the class behind are working fine when we send the message from Service but when I try to attach and run it from Vscode, I get this error. It looks like a general issue.

![image](https://user-images.githubusercontent.com/5127457/190139090-2dd47794-7f92-43d4-b422-4011a071602b.png)

![image](https://user-images.githubusercontent

[2022-09-14 18:58] #974 closed

[2022-09-14 20:24] isc-bsaviano commented on #969
Closing since the fix for this is in a publicly available kit ([2022.2.0.334.0](https://community.intersystems.com/post/intersystems-iris-iris-health-healthshare-health-connect-20222-developer-preview-7-published))

[2022-09-14 20:24] #969 closed

[2022-09-14 20:30] isc-bsaviano commented on #981
@eduard93 Please follow the steps listed [here](https://github.com/intersystems-community/vscode-objectscript/issues/751#issuecomment-944300477) and send me the log output

[2022-09-15 09:28] rohlem opened #982 "Feature Request: Add "import (upload) on save" setting"
I'm relatively new to using this extension, so I might be overlooking something obvious.

From what I can tell, an exported file is always imported (uploaded) to the server on saving.
To my surprise, this even happens when disabling the "compile on save" option.
This means I cannot easily save local changes privately - unless there happens to be a conflict with the server version and I discard/ign

[2022-09-15 09:53] gjsjohnmurray commented on #982
If you click on the ObjectScript panel in the status bar you can toggle the connection to "Disabled". Now your saves won't affect the server namespace.

But bear in mind that some of the features provided by the InterSystems Language Server extension depend on it communicating with the server and having an up-to-date copy of the code there.

[2022-09-15 10:11] gjsjohnmurray commented on #982
@isc-bsaviano can answer definitively about what isn't available when the server is offline, and what could be misleading if the server's copy is out-of-date.

[2022-09-15 12:04] isc-bsaviano commented on #982
@rohlem I think your best bet is to turn on the `objectscript.overwriteServerChanges` setting. The local copy will still be saved on the server but you won';t get any more version conflict notifications. Since you're working client-side and use your local copy as the source of truth then you shouldn't care about what the server version looks like.

[2022-09-15 12:07] rohlem commented on #982
@isc-bsaviano Sorry if I wasn't clear, I want the server-side version to be retained until I explicitly upload/import my own version to the server - at which point I _do_ value a conflict notification.

[2022-09-15 12:12] isc-bsaviano commented on #982
In that case I think that adding a `importOnSave` setting is the best way to support your workflow. Turning off the server connection is a workaround but like John said, the Language Server won't be able to provide as much intellisense as it does with a server connection.
@gjsjohnmurray Do you agree?

[2022-09-16 13:20] mfortuna-isc opened #983 "Feature Request: Add IntelliSense when doing dot-syntax access on a typed variable within a macro"
For example, if I declare the type of my variable using `#dim`, I would like intellisense to work within `$$$ThrowOnError` macro:
[code]
As the comments say, intellisense does not happen when I have typed
`$$$ThrowOnError(x.)`. I would like intellisense to happen in this scenario. (However, intellisense does pickup again after I type `$$$ThrowOnError(x.MyMethod())`)

[2022-09-16 14:32] isc-bsaviano commented on #983
@mfortuna-isc The Language Server provides completion so I added that label. I did a quick investigation and the issue is caused by a small bug in the ObjectScript parser. When the line is in this state: `$$$ThrowOnError(x.)`, `x` is assigned the COS_Macro token and not a variable token, so the Language Server just returns and doesn't look for a type.

[2022-09-19 13:02] dgonzalez-intersystems commented on #916
Hi @gjsjohnmurray,
Sorry, I received your message when I was on holiday and, when I came back, as it's an option I don't use, I completely forgot to reply.
The WebApp has this checkbox, but it's currently unchecked. So I'm afraid this is not the problem.
![image](https://user-images.githubusercontent.com/78598637/191023023-9f22e4b1-4266-4aa8-99c1-2c4c0e2bc44a.png)
![image](https://user-images.gith

[2022-09-19 13:44] isc-bsaviano commented on #983
@mfortuna-isc Unfortunately there's nothing we can do here. A macro argument can be any sequence of characters and there's no way for us to know that `x.` is a variable reference and dot operator.

[2022-09-19 13:44] #983 closed

[2022-09-22 12:14] isc-bsaviano commented on #982
@rohlem I opened a PR that adds a new `objectscript.importOnSave` setting. Can you please download the vsix found [here](https://github.com/intersystems-community/vscode-objectscript/suites/8417723775/artifacts/372488048) and let me know if the new setting that I added improves your experience?

[2022-09-28 17:10] isc-bsaviano opened #989 "Prerelease: Return password from `serverForUri()` if it's specified in `settings.json`"

[2022-09-28 17:33] isc-bsaviano opened #990 "Prerelease: Use Server Manager auth provider's credentials immediately after consent is given"
When using the auth provider to store the password, things work well once the password is stored but that initial attempt when users need to create the server credentials wasn't flawless IMO. After giving the main extension permission and saving a password for the credentials, the main extension appeared to not use the credentials and still prompted me for a password using its own prompt.

[2022-09-29 14:51] isc-bsaviano commented on #989
Fixed by #991

[2022-09-29 14:51] #989 closed

[2022-09-29 14:51] rohlem commented on #982
Sorry for the late reply, the version from PR #985 worked as expected, thank you!

[2022-09-30 00:25] #982 closed

[2022-10-04 14:28] gjsjohnmurray commented on #990
Fixed in v2.0.0

[2022-10-04 14:28] #990 closed

[2022-10-05 14:56] isc-bsaviano opened #996 "Improve debug/copy CodeLenses"
*Caused by #978, reported internally*

[2022-10-05 17:20] RathinakumarS opened #997 "Encountering issue while exporting code .ERROR [Object Object]"
Type: <b>Bug</b>

Hi Team,
1. Connect to intersystem cache server and then export file from server to local.

While exporting the server code in cache 2018.1.7 .we are getting  Error [Object Object ].

Extension version: 2.0.0
VS Code version: Code 1.71.2 (74b1f979648cc44d385a2286793c226e611f59e7, 2022-09-14T21:03:37.738Z)
OS version: Windows_NT x64 10.0.19044
Modes:
Sandboxed: No

<details>
<summ

[2022-10-05 17:23] RathinakumarS commented on #997
![cache2018_1](https://user-images.githubusercontent.com/108020025/194122776-b1a4c86b-6cbd-45d3-97d6-da15c83b0d8e.jpg)

please find the attached screen shot for reference

[2022-10-05 17:26] RathinakumarS commented on #997
![cache2018_1](https://user-images.githubusercontent.com/108020025/194123315-f4b5ee4f-53ff-4d8c-a78c-bfc52e186872.jpg)

please find the attached screen shot

[2022-10-05 20:42] isc-bsaviano commented on #997
@RathinakumarS Can you please download and install the dev VSIX found [here](https://github.com/intersystems-community/vscode-objectscript/suites/8633789999/artifacts/387820779) and then try your export again? I've improved the logging so instead of seeing `[ object Object ]` you should see the actual reason for the failure in the Output channel.

[2022-10-06 12:48] isc-bsaviano commented on #981
@eduard93 Are you still seeing this issue? If not I will close it.

[2022-10-06 12:54] RathinakumarS commented on #997
@isc-bsaviano  I can't able to install that VSIX.
![image](https://user-images.githubusercontent.com/108020025/194317775-663f52da-7826-47e8-89d1-b81ab64afc31.png)

[2022-10-06 13:01] isc-bsaviano commented on #997
@RathinakumarS You need to install it in VS Code. You can do that by following [these directions](https://code.visualstudio.com/docs/editor/extension-marketplace#_install-from-a-vsix) or dragging it into the extensions view. To open the extensions view, click on this icon, then drag the `.vsix` file into the wide panel that shows all of your installed extensions:

<img width="51" alt="Screen Shot

[2022-10-06 14:00] RathinakumarS commented on #997
now am not seeing any error message but sometimes am getting an  below error right bottom
![image](https://user-images.githubusercontent.com/108020025/194332755-826cc182-4186-4dc9-9b0c-e1912ed96c0a.png)

[2022-10-06 14:13] isc-bsaviano commented on #997
@RathinakumarS I wasn't able to reproduce that error. How is your workspace configured? Do you just have a single local folder open?

[2022-10-07 08:13] RathinakumarS commented on #997
This error occurred all the file types .mac,/.int /.cls

[2022-10-07 11:27] isc-bsaviano commented on #997
@RathinakumarS Does it only happen with files that already exist in your local folder or only ones that don't exist? Sorry for all the questions, I'm trying to get more info that will help me reproduce your issue.

[2022-10-07 11:34] RathinakumarS commented on #997
All the files new and existing . @isc-bsaviano

[2022-10-07 11:34] RathinakumarS commented on #997
All the files new and existing . @isc-bsaviano

[2022-10-07 11:41] RathinakumarS commented on #997
Occurred in all the files existing and new.

From: Brett Saviano ***@***.***>
Sent: 07 October 2022 16:57
To: intersystems-community/vscode-objectscript ***@***.***>
Cc: Rathinakumar S ***@***.***>; Mention ***@***.***>
Subject: Re: [intersystems-community/vscode-objectscript] Encountering issue while exporting code .ERROR [Object Object] (Issue #997)

CAUTION: This email originated from outside o

[2022-10-07 11:47] isc-bsaviano commented on #997
Does it occur using the `ObjectScript: Export Code from Server` command? That command uses the values of your `objectscript.export` settings to export all files on the server that matches those settings. It's a more efficient way of exporting code than selecting one item at a time from the explorer. Are you only seeing the "Error running command" popup or do you see other error messages in the Out

[2022-10-07 12:25] RathinakumarS commented on #997
@isc-bsaviano
please find below. [From output log]
![image](https://user-images.githubusercontent.com/108020025/194552704-7dd228b0-0662-42f5-947c-e5b3c88f5005.png)

[2022-10-07 13:32] RathinakumarS commented on #997
It shows exported items 1 but not exported.

![image](https://user-images.githubusercontent.com/108020025/194563805-e01ed507-ee13-4055-9a2f-d5f4cf49879c.png)

[2022-10-07 13:34] isc-bsaviano commented on #997
@RathinakumarS Ok, that is unexpected. It should also show the name and path of the file that was exported. Can you tell me the exact steps you did to export the file form the moment you started up VS Code? I will do those same steps to see if I can reproduce your issue.

[2022-10-07 14:25] isc-bsaviano commented on #997
I will try to reproduce again and get back to you.

[2022-10-07 17:18] isc-bsaviano commented on #997
@RathinakumarS Can you please install [this vsix](https://github.com/intersystems-community/vscode-objectscript/suites/8670408428/artifacts/390413219) in your VS Code and try exporting again? I was able to fix the bug where "Exported items: 1" would show even if the export failed. Now if it fails you should see the reason why printed in the ObjectScript Output channel following the name of the fil

[2022-10-07 17:35] RathinakumarS commented on #997
Hi @isc-bsaviano  please find below

![image](https://user-images.githubusercontent.com/108020025/194616576-672560a6-2d8d-4ec6-9c1a-092dd51c806b.png)

[2022-10-07 17:44] isc-bsaviano commented on #997
Great, now we can see the cause of the failure! You have server-side source control enabled for the namespace that you're working in, but something is wrong with that class so an instance of it couldn't be created during the call to the Atelier API. You need to make sure that class exists and doesn't contain any bugs.

[2022-10-07 17:46] RathinakumarS commented on #997
I saw the same error message when I opened the particular server cache studio.

![image](https://user-images.githubusercontent.com/108020025/194618450-ad5a3779-c2e3-4ed2-bbfe-6b3232a2ece2.png)

[2022-10-07 17:49] isc-bsaviano commented on #997
It looks like that class doesn't exist on that server

[2022-10-07 17:50] RathinakumarS commented on #997
@isc-bsaviano  Great thank you. I will check that class.

![image](https://user-images.githubusercontent.com/108020025/194619271-be59f9a3-7b84-444b-8142-6fdef57d6cc9.png)

I will select none and try it

[2022-10-07 17:54] RathinakumarS commented on #997
Thank you very much @isc-bsaviano .
After selecting NONE in the source control class.
Now I try to export it and it is working fine. PFB

![image](https://user-images.githubusercontent.com/108020025/194619502-80034ccd-e8a9-4b26-bbec-f4513ba7eda6.png)

[2022-10-07 17:56] isc-bsaviano commented on #997
@RathinakumarS Great, I'm glad that it is working for you now! Happy to help.

[2022-10-07 17:57] #997 closed

[2022-10-10 10:53] apobrt opened #999 "Import custom snippets from IRIS Studio"
It would be very convenient to have a tool to automatically import code snippets created in IRIS Studio (which are saved to a .txt file).
Currently, the only way is to recreate them by hand, but it is a long and inconvenient process

[2022-10-10 11:46] isc-bsaviano commented on #999
@apobrt I will take a look at this

[2022-10-11 07:57] isc-solon commented on #974
I don’t understand…

USER>write ##class(%PopulateUtils).Mission()

On Aug 29, 2022, at 11:37 AM, Dmitry Maslennikov ***@***.******@***.***>> wrote:

Python invocation would work in Python shell (iris.cls) ObjectScript invocation would work in ObjectScript shell (##class)
Nope, language = python does not change it
In python shell, supposed to work any method in any language

—
Reply to this email d

[2022-10-11 08:57] isc-jamien commented on #974
What do you mean.? If it returns a value the invocation should retrieve the value else it get’s lost

From: Dmitry Maslennikov ***@***.***>
Reply-To: intersystems-community/vscode-objectscript ***@***.***>
Date: Monday, August 29, 2022 at 11:32 AM
To: intersystems-community/vscode-objectscript ***@***.***>
Cc: Jamie Newton ***@***.***>, Comment ***@***.***>
Subject: Re: [intersystems-community/vsc

[2022-10-25 15:20] isc-bsaviano commented on #999
@apobrt I opened a PR that adds this feature, among others. If you want to try it out, please download and install the VSIX found [here](https://github.com/intersystems-community/vscode-objectscript/suites/8951826593/artifacts/411117723). Here's an except from the new documentation that describes the command:

[2022-10-26 20:17] isc-bsaviano opened #1004 "Uncaught errors reported when no workspace is open"
The uncaught errors are coming from here, which I'm pretty sure is unrelated to this PR:

https://github.com/intersystems-community/vscode-objectscript/blob/225df7689c499c792174464f3f2f04bf8da74a8a/src/utils/index.ts#L364-L369

_Originally posted by @isc-bsaviano in https://github.com/intersystems-community/vscode-objectscript/issues/1003#issuecomment-1292594921_

[2022-10-27 12:16] LogMull opened #1005 "Explorer always shown when selecting ISFS file"
I always use server side editing with ISFS, so this may not be a problem when editing locally.

When switching between tabs of already opened editors, the explorer in the primary sidebar is always focused.  This occurs even when the sidebar is closed and explorer is unchecked from the list of items to display in the sidebar.  This is not how VS Code normally operates, there are some options such a

[2022-10-27 13:41] isc-bsaviano commented on #1005
@LogMull The first source is likely the cause of the behavior you reported.

@gjsjohnmurray Is there any reason why we refresh the explorers every time we check the connection? I would expect that if the connection status didn't change nothing would be refreshed.

[2022-10-27 15:58] gjsjohnmurray commented on #1005
@isc-bsaviano can you repro what @LogMull reported? I'm not seeing that behaviour here.

[2022-10-27 16:04] isc-bsaviano commented on #1005
@gjsjohnmurray I can't reproduce it either. I opened an ISFS workspace with files open from 2 different folders, hid the explorer then collapsed the left side panel. When I switch between the 2 tabs, the explorer remains hidden and the left side panel remains collapsed.

[2022-10-27 16:50] gjsjohnmurray commented on #1005
@isc-bsaviano our inability to repro it may be down to timing, if a uri-less checkConnection hasn't completed by the time one specifying a uri occurs.

@LogMull please try the VSIX at https://github.com/intersystems-community/vscode-objectscript/suites/8997166305/artifacts/414372201 which removes the call in extension.ts

If this resolves the issue I'll do some more analysis about whether it is ev

[2022-10-27 17:25] LogMull commented on #1005
@gjsjohnmurray  Yes, that vsix seems to address the issue.  Looks like this addresses similar behavior when other primary views are open too (such as the debug and search in files view), so all the better.

[2022-10-27 18:42] gjsjohnmurray commented on #1005
@LogMull https://github.com/intersystems-community/vscode-objectscript/suites/8999114144/artifacts/414507765 is an updated VSIX which reinstates some Explorer refreshing. Please check whether it still resolves your issue.

[2022-10-27 19:55] #999 closed

[2022-10-27 20:00] #996 closed, assigned to isc-bsaviano

[2022-10-27 20:05] LogMull commented on #1005
@gjsjohnmurray Yes, this version still fixes what I was originally seeing.

[2022-10-27 20:24] #1005 closed

[2022-10-27 20:38] gjsjohnmurray commented on #1004
@isc-bsaviano I agree.

[2022-10-31 12:13] #1004 closed

[2022-11-09 21:40] gjsjohnmurray opened #1010 "Language selector shows `-injection` entries"
PR #964 added language ids `objectscript-injection` and `objectscript-class-injection` in order to implement syntak colouring in fenced blocks in Markdown, but it neglected to hide them from the status bar language selector.

I will submit a PR.

[2022-11-09 21:58] #1010 closed

[2022-11-15 19:33] arunmaskara opened #1012 "Unable to open a class in VSCode which is created using DDL from JDBC client (DBeaver)"
Type: <b>Bug</b>

WRC (https://wrc.intersystems.com/wrc/eucustprob2.csp?OBJID=967660) was unable to reproduce the issue.

This only happens in IRIS 2022.1 works in 2020.1

Please use following steps to reproduce the bug:

Step 1: Execute the following DDL from DBeaver

create function arun.testjson(injson varchar(3641144), lastUsedAt date) returns varchar(1000)

language ObjectScript {

      set

[2022-11-15 21:29] bourette opened #1013 "Using a single web server for multi instance include pathPrefix in connection info"
If I have multiple servers defined (below) the connection info says localhost:80[HSLIB], it would be helpful for it to include the pathPrefix when defined.

		"bfc": {
			"webServer": {
				"scheme": "http",
				"host": "localhost",
				"port": 80,
				"pathPrefix": "/bfc",
			},
			"username": "_system",
		},
		"fsql": {
			"webServer": {
				"scheme": "http",
				"host": "localhost",
				"port":

[2022-11-15 21:34] isc-bsaviano commented on #1013
@gjsjohnmurray This shouldn't be hard for me to fix but I wonder what we should do if the connection string becomes very long. Maybe if it's over a certain length, show the full string in the tooltip and some placeholder in the status bar itself?

[2022-11-15 21:52] bourette commented on #1013
What about an optional description, if defined in place of host port and path prefix

[2022-11-15 21:54] bourette commented on #1013
lol, the tooltip already indicates the path prefix and user, it's just not that convenient.

[2022-11-16 17:17] isc-bsaviano commented on #1012
Resolved internally

[2022-11-16 17:17] #1012 closed

[2022-11-18 07:22] eduard93 opened #1015 "Attaching to interoperability job works, but I can't get into user code"
I have a following debug configuration:

[code]

After I start debugging it connects (I pick a BO job) and I'm in Ens.Queue.int, waiting as that's where BO process waits for new messages.

However, there's no way to get into user code.

I tried setting a breakpoint in BO code, but after sending a message, BO is still in Ens.Queue.int. If I press "step over" or "run to breakpoint" it does not get m

[2022-11-18 07:51] gjsjohnmurray commented on #1015
Are INTs always being retained by compilation? Perhaps set the "k" flag, recompile your user code, then try again.

[2022-11-18 08:40] eduard93 commented on #1015
`k` flag is present for the compilation.

After setting break flag in the int code it works.

[2022-11-18 08:40] eduard93 commented on #1015
Thank you, John!

[2022-11-18 08:40] #1015 closed

[2022-11-23 17:02] eduard93 commented on #981
After adding `%System_Attach:U` to the user roles, user can attach but nothing happens - debugging window is empty.

[2022-11-23 17:09] eduard93 commented on #981
Now I'm getting:
[code]

[2022-11-23 17:20] gjsjohnmurray commented on #981
The <PROTECT> error when accessing the IRISSYS database may be relevant. What permissions does your user have on that database's resource?

[2022-11-23 17:22] eduard93 commented on #981
Added R to IRISSYS (can we avoid that?) and now I'm getting no errors, but debugging still does not work:
[code]

[2022-11-23 17:28] eduard93 commented on #981
Rather the issue now is that I get into Ens.Queue, but can't get to the user code.

[2022-11-24 08:57] eduard93 commented on #981
Restarted VSCode, niw it works. Question is, can we work without the IRISSYS R access.

[2022-11-28 20:12] #1013 closed

[2022-11-30 10:40] gbertolottiKS commented on #126
Hi,
I'm getting these errors while trying to use the server-side search:
![immagine](https://user-images.githubusercontent.com/115481064/204774672-658678aa-cdd3-4c18-a821-2b4d53ae4644.png)
I've followed these instructions: https://github.com/intersystems-community/vscode-objectscript#enable-proposed-apis

[2022-11-30 10:52] gbertolottiKS opened #1018 "Open class server-side with dot notation"
Currently, I can't find any way to open a class using the "dot notation", e.g. Package.package.class
The only way is to replace the dots with a slash, e.g. Package/package/class
I'm used to using Studio, where I use this notation quite often, because it allows you to copy the path to a class from code and immediately open it with ctrl+O
![immagine](https://user-images.githubusercontent.com/1154810

[2022-11-30 10:56] gjsjohnmurray opened #1019 "Errors when trying to use server-side search"
Hi,
I'm getting these errors while trying to use the server-side search:
![immagine](https://user-images.githubusercontent.com/115481064/204774672-658678aa-cdd3-4c18-a821-2b4d53ae4644.png)
I've followed these instructions: https://github.com/intersystems-community/vscode-objectscript#enable-proposed-apis
It seems to be installed correctly:
![immagine](https://user-images.githubusercontent.com/1154

[2022-11-30 10:56] gjsjohnmurray commented on #1019
@gbertolottiKS what is the $ZVERSION string of the InterSystems server you have connected to?

[2022-11-30 11:00] gjsjohnmurray commented on #1018
Please try `User/PAAdm.cls`

[2022-11-30 11:02] gbertolottiKS commented on #1019
Hi,
thanks for your fast answer!
![immagine](https://user-images.githubusercontent.com/115481064/204779439-a47ef710-48ca-465a-a739-b60ae67f1afd.png)

[2022-11-30 11:03] gjsjohnmurray commented on #1018
Also, if you have already opened in VS Code the same class as your Studio screenshot, try right-clicking between the parentheses of the `##class(User.PAAdm)` text and choosing `Go to Definition`.

[2022-11-30 11:09] gbertolottiKS commented on #1018
Oh, right, there was probably a misunderstanding: my "problem" is not being able to open the class (using the slashes I always managed to open any class), but being able to do it using the dots instead of the slashes.
In our team it is quite common that we are told to work on a certain class, and that this class is referred to in the format "package.package.class": having to replace dots with slas

[2022-11-30 11:36] gjsjohnmurray commented on #1019
Please try submitting that GET request from a tool which will let us see the raw response. Here's one way:

1. Install the [REST Client](https://marketplace.visualstudio.com/items?itemName=humao.rest-client) extension.
2. Create a new text file containing two lines like this:

[code]

3. From Command Palette run `Rest Client: Send Request`

What does the response tab contain? Take care not to reve

[2022-11-30 11:40] gjsjohnmurray commented on #1018
Does it work if you add the `.cls` suffix onto what you are entering in the Open File dialog, e.g. `User.PAAdm.cls`?

[2022-11-30 12:03] gjsjohnmurray commented on #1019
I wonder if the username you are connecting with needs a SQL permission GRANTed. Please see the final bullet point at https://github.com/intersystems-community/vscode-objectscript/blob/master/README.md#notes to grant user xxx (or a SQL role they hold) Execute permission for the following SQL Procedure in the target namespace.
[code]

[2022-11-30 12:05] gbertolottiKS commented on #1018
Yes! Thank you!
I don't know why I didn't try adding the class 😅
It works with any extension: .cls, .mac, ecc..

[2022-11-30 12:05] #1018 closed

[2022-11-30 14:02] gbertolottiKS commented on #1019
I tried to make the GET request, but it gave me timeout error:

![immagine](https://user-images.githubusercontent.com/115481064/204815247-38d8573e-482e-46ff-b236-ab6455f5fd0c.png)

I'm not sure about 2 things:

1. the text file should be saved server-side?
2. where do I have to execute the command
`GRANT EXECUTE ON %Library.RoutineMgr_StudioOpenDialog TO xxx`
In the iris terminal ? (it didn't work

[2022-11-30 14:19] gjsjohnmurray commented on #1019
1. No need to save the text file, but if you do then save it on your local filesystem. It's just a script for REST Client to use.

Strange that you are getting a Gateway Timeout error. Does the Server Manager connection that your VS Code workspace is using specify http or https as the protocol? Are you using the IRIS private Apache web server? Does the start of the URL in that GET line look like t

[2022-11-30 14:23] gbertolottiKS commented on #1019
I've figured out how to get working the GET (I didn't have to save the .txt file), and this is the result; is what I've expected, because is what I get on Studio:

[code]

But if I make the same search using the ctrl+shift+f menu, it shows me only the results in the opened files, and, after a bit of time, it gives me the same NON-Json response error:

![immagine](https://user-images.githubusercont

[2022-11-30 14:24] gbertolottiKS commented on #1019
1. If I don't save the file, it works
2. Thanks. I made it, but apparently nothing changed

[2022-11-30 14:37] gjsjohnmurray commented on #1019
What is the exact text of the failure message in the ObjectScript output channel when the Search panel gives you the result shown in your latest screenshot?

Is this exactly the same query as you used for the successful REST request?

How any seconds passed between you starting that search and the "An error occurred" message appearing?

[2022-11-30 15:12] gjsjohnmurray commented on #1019
OK, so I'm guessing that if you use REST Client to do the same search query, i.e. `files=*.cls%2C*.inc%2C*.mac%2C*.int&gen=0&sys=0&regex=0&case=0&wild=0&word=0&query=GetMappedNationalCodes&max=20000` then you will get a 504 timeout after 60 seconds,

Presumably the target namespace contains a large amount of code.

[2022-11-30 15:20] gbertolottiKS commented on #1019
Yes, all correct:

[code]
Is there any other way to achieve the 'search-in-all-files' ?
In Studio I reach the goal in fractions of a second...

![immagine](https://user-images.githubusercontent.com/115481064/204837251-7589935a-c886-4052-b2c0-d7d1873754f6.png)

[2022-11-30 15:33] gjsjohnmurray commented on #1019
We need to fix a bug. Current implementation of server-side search doesn't send the 'files to include' and 'files to exclude' patterns to the server.

[2022-11-30 16:41] isc-bsaviano opened #1020 "CI uses deprecated features"
See the annotations on these runs:

https://github.com/intersystems-community/vscode-objectscript/actions/runs/3568298744

https://github.com/intersystems-community/vscode-objectscript/actions/runs/3568298732

[2022-11-30 17:29] gjsjohnmurray commented on #1019
Please download the zip from https://github.com/intersystems-community/vscode-objectscript/suites/9591473530/artifacts/457214424 and install the dev VSIX it contains. This should make server-side search use whatever 'includes' and 'excludes' values you specify. Let me know if it works for you.

[2022-11-30 17:51] gjsjohnmurray commented on #1019
Updated VSIX is at https://github.com/intersystems-community/vscode-objectscript/suites/9591878280/artifacts/457243115